# Build

build/
bin/
out/

# Visual Studio

.vs/
*.VC.db
*.VC.opendb
*.suo
*.user

# CMake

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Objects

*.obj
*.o
*.pdb
*.ilk
*.exe
*.dll

# Logs

*.log
